@import "tailwindcss";

@theme {
  --color-primary: #c81414;
  --font-sans: var(--font-poppins);
}

:root {
  --font-sans: var(--font-poppins);
}

body {
  font-family: var(--font-poppins), sans-serif;
}
